body{
    display: flex;
    height: 100vh;
    flex-wrap: wrap;
    font-size: 18px;
    background-image: url("../imagenes/fc.png") ;
         
    }
 
    img{
        width:30vw;
        height: 25vh;
    }

    .bmenu {
        height: 100vh;
        display: grid;
        background-image: url("../imagenes/fc.png");
     }
