article {
    .titulo {
        font-size: 3rem;
        font-family: $fontComfortaa;
    }
    .parrafo{
        font-size: 2rem;
        font-family: $fontComfortaa;
    }
}
 .acordion {
    .info { 
        text-align: center;
    }
    .accordion-item {
        background-color: white;
        padding: 40px;
        box-shadow: 0 0 6px 0 rgb(055,055 ,055, 0.8);
        border-radius: 10px;
        ;
     }
 }
 form  {
    background-color: white;
    padding: 40px;
    box-shadow: 0 0 6px 0 rgb(055,055 ,055, 0.8);
    border-radius: 10px;
 
    .form{
        width: 100%;
        margin: auto;
        position: relative;
    } 
    .formc {
        position: relative;
       
    }
    .tituloform { 
        text-align: center;
        color: black;
    }
}
