.bniñxs{
   @extend .bniñxs ;

} 
   .titulo_niños {
    font-size: 4rem;
    font-family: $fontComfortaa;
    width: 100%;
    transition: 1s;
    transition-property: all;
    transition-timing-function: ease-in-out;  
    color: map-get($mapa, $key:fondo );
   
   }
   

   
   .titulo_niños:hover{
   
   background-color: rgb(194, 71, 71);
   
   }
   
   .img_niñxs {
      @extend .img_niñxs
   }
   
   .img_niñxs:hover {
      box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
   }